@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Satoshi', sans-serif;
}


body {
  font-family: var(--primary-font);
  overflow-x: hidden;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
.navbar-logo,
.star {
  fill: var(--logo-color);

} */

.scrolldownarrow {
  animation: scrolldownarrow 750ms ease-in-out 0s infinite alternate;
}

@keyframes scrolldownarrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(50%);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-inline: 30px;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--scollbar-background);
  backdrop-filter: brightness(0.5);

}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 30px;
  border: 2px solid #ffffff;
}

.animateChippara {
  animation: animateChippara 300ms ease 1 forwards;
}

@keyframes animateChippara {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;

  }
}

.hovering-card {
  animation: hoveringCard 500ms ease 0s 1 forwards;
}

@keyframes hoveringCard {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}